/books
/Lab
/Labs_ADF-II
/DemoFile/nbproject/private/
/DemoFile/build/
/DemoBook/nbproject/private/
/DemoThread/nbproject/private/
/DemoThread/build/
/DemoBook/build/
/DemoCustomer/nbproject/private/
/DemoCustomer/build/
/DemoBookDb/nbproject/private/
/DemoBookDb/build/
/DemoBookDb/dist/
/Pretest2 - DATABASE/nbproject/private/
/Pretest1/nbproject/private/
/Day2/build/
/Pretest1/build/
/DemoSingleton/nbproject/private/
/DemoSingleton/build/
/DemoProductDb/nbproject/private/
/DemoProductDb/build/
/demoenumeration/nbproject/private/
/demoenumeration/build/
/demoenumeration/dist/
/Pretest2 - Answer/nbproject/private/
/Pretest2 IO - Answer/nbproject/private/
/Pretest2 IO - Answer/build/
/Pretest1 DB/nbproject/private/
/Pretest2 IO - DIY/nbproject/private/
/adf2-ontap2/nbproject/private/
/adf2-ontap2/build/
/Pretest2 IO - DIY/build/
/adf2-ontap2 (HashMap)/nbproject/private/
/adf2-ontap2 (HashMap)/build/
/Pretest3 - Answer/nbproject/private/
/Pretest1 DB - Answer/nbproject/private/
/Pretest4/nbproject/private/
/Pretest1 DB - DIY/nbproject/private/
/DemoProductDb (Prestest 1) - Answer/build/
/DemoProductDb (Prestest 1) - Answer/nbproject/private/
/Pretest4 DB/nbproject/private/
/Pretest4 DB - Answer/nbproject/private/
/Pretest3 - Answer/build/
/Pretest4 DB - Answer/build/
